html {
  /* display: flex; */
  font-family: sans-serif;
  justify-content: center;
  box-sizing: border-box;
  line-height: 1.5;
  /* background-color: #79756f; */
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-height: 30em;

  /* min-width: 30em; */
  background-color: #dbd6cf;
  margin: .3em 0;
}

header {
  /* flex-flow: column; */

  color: #fff;
  /* background-color: #595652; */
    background-color: #79756f;
  /* max-height: 30em; */
  margin: auto;
  /* border-top: 3px solid #2e2c2a; */
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  font-family: Bevan;
  margin: .3em .3em 0;
  text-align: center;
}

ul {
  /* display: flex; */
  list-style-type: none;
  text-align: center;
  padding: .5em;
  padding-top: 0;
  margin: 0 .3em;
}

li {
  display: inline-block;
  margin: .3em;
  padding: .5em;
  background-color: #713837;
  border-radius: 5px;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:hover {
  background-color: #f33;
}
